<!-- <div *ngFor="let item of [1, 2, 5, 3, 4]">
       <p>Number is: {{ item }}</p>
</div> -->

<div *ngFor=" let item of products">
    <div class="product-container">
       <div class="image-container">
              <img [src]="item.image" alt="" style="max-height: 50px; max-width: 50px;">
       </div>
       <div>
              <div class="name-container">
                     <h6>{{ item.name }}</h6>
              </div>
              <div class="detail-container">
                     <div class="details"> <b>Date: </b> {{ item.date }}</div>
                     <div class="details"><b>Price: </b> {{ item.price }}</div>
                     <div class="details"> {{ item.available}} </div>
              </div>
       </div>
       <div class="options">
              <button class="btn btn-success">Show Details</button>
              <button class="btn btn-warning">Buy Now</button>
       </div>
    </div>
</div>